#grid {
    width : 100%;
}

.tb_row_td {
    
    font-family : Arial;
    font-size : 11px;
    margin: 0px;
    padding: 0px;
    padding : 3px;
    padding-top : 1px;
    padding-bottom : 1px;
    border : 0.25px solid #CCC;
    font-weight : normal;
	background:#fff;
}

.tb_row_td:hover {
    background-color : #efcfda;
}

.tb_row_td_alt:hover {
    background-color : #efcfda;
}

#cus_grid_body .tb_row_td {
    cursor: pointer;
}

#cus_grid_body .tb_row_td_alt {
    cursor: pointer;
}

.tb_row_td_alt{
    font-family : Arial;
    font-size : 11px;
    margin: 0px;
    padding: 0px;
    padding : 3px;
    padding-top : 1px;
    padding-bottom : 1px;
    /*background-color : #f1ddda;*/
    border : 0.25px solid #CCC;
    font-weight : normal;
}

.tb_head_th {
    font-family : Arial;
    font-size : 12px;
    font-weight : normal;
	background:#F2F2F2;
    /*background-image: -moz-linear-gradient(top, #4a8e17 23%, #2f9c0a 97%);
    background-image: -webkit-linear-gradient(top, #4a8e17 23%, #2f9c0a 97%);*/
    /*border : 0.5px dotted #999;*/
    border-bottom : 1px solid #999;
    border-top : 1px solid #999;
   /* padding : 7px;
    padding-top : 2px;
    padding-bottom : 2px;*/
    /*color : #FFF;*/
}

.tb_head tr{    
    font-family : Arial;
    font-size : 12px;
    font-weight : normal;
    background-image: -moz-linear-gradient(top, #4a8e17 23%, #2f9c0a 97%);
    background-image: -webkit-linear-gradient(top, #4a8e17 23%, #2f9c0a 97%);
    /*border : 0.5px solid #666;
    border-bottom : 1px solid #666;
    border-top : 1px solid #666;*/
    /*padding-top : 2px;
    padding-bottom : 2px;*/
    color : #FFF;
}

.tb_head td:last-child, .tb_body td:last-child, .tb_foot td:last-child{
    border-right: 1px solid #CCC;
}

.tb_head td:first-child, .tb_body td:first-child, .tb_foot td:first-child{
    border-left: 1px solid #CCC;
}

.tb_head td{
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    font-size: 11px;
    padding: 3px;
}

.tb_body td{
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    font-size: 11px;
    padding: 3px;
    /*background-color: #FFF;*/
}

.tb_body td:hover {
    background-color: #ebda94;
}

.tb_body tr:nth-child(2n+1) {
    background-color: #e7d2cf;
}

.tb_foot td{
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 11px;
    padding: 3px;
}

/*.tb_foot tr{
    background-image: linear-gradient(bottom, #EBE8E9 24%, #EEEEEE 77%);
    background-image: -o-linear-gradient(bottom, #EBE8E9 24%, #EEEEEE 77%);
    background-image: -moz-linear-gradient(bottom, #EBE8E9 24%, #EEEEEE 77%);
    background-image: -webkit-linear-gradient(bottom, #EBE8E9 24%, #EEEEEE 77%);
    background-image: -ms-linear-gradient(bottom, #EBE8E9 24%, #EEEEEE 77%);
}*/

/*.tb_rpt_head_th {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size : 13px;
    font-family : Arial;
    font-weight : bold;
}

.tb_rpt_row_td {
    font-size : 12px;
    font-family : helvetica;
    padding: 5px;
    margin : 3px;
}

.tb_rpt_head_tr{

}

.tb_rpt_row_td_alt{
    font-size : 12px;
    font-family : helvetica;
    padding: 5px; 
    margin : 3px;
}
*/
