

.tbl_pp_list_inner td{
    padding: 4px;
    border:1px solid #cccccc;
}


.tbl_pp_list_inner tr:hover{    
    background-color: #eaeaea;
}



.tbl_reconci input[type='text'] {    
    border:1px solid #cccccc;    
    border-radius: 4px;
    font-family: "bitter";    
    width: 100%;    
    padding: 5px;    
    font-size: 14px;
}

.tbl_reconci td{
    padding: 5px;
    border-color: #CCC;
}

.tbl_reconci input[type='text']:hover {    
    border:1px solid green;        
}

.tbl_reconci input[type='text']:focus {    
    border:1px solid green;        
}


.tblfundc thead td{
    padding: 5px;
    border: 1px solid #ccc;
}

.tblfundc tbody td{
    padding: 5px;
    border: 1px solid #ccc;
}

.load_more_msgs{
    background-color: #cccccc;
    padding: 10px;
    text-align: center;
}

.tblenrv td{
    padding:10px;
    border: 1px solid #ccc: 
}

.tblenrv tr:hover{
    background-color: #eaeaea;
    color: #000;
}

.pages_search{
    background-color: #ffffff;
    border:1px solid #cccccc;
    padding: 5px;
    padding-left: 8px;
    margin: 5px;
    margin-bottom: 55px;
}

.div_s_role_fixed-controls{

    
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: #efefef;
    border-top: 1px solid #cccccc;


}


.bt_log_link_det{

}

.bt_log_link{    
    padding: 10px;
    text-align: center;
    background-color: #eaeaea
}

.bt_log_link:hover{
    cursor: pointer;
    background-color: green;
    color: #ffffff;
}

.div_tfr_res_clicked{
    background-color: red;
    color: #ffffff;
    height: 20px;
    padding: 7px 5px 5px 4px;
}

.div_tfr_res:hover{
    background-color: red;
    color: #ffffff;
    height: 20px;
    padding: 7px 5px 5px 4px;
}

.div_tfr_res{    
    height: 20px;
    padding: 7px 5px 5px 4px;
}

.tbl_je_view td{
    padding: 10px;
    border-top: 1px solid #cccccc;
}

.je_view_popup{    
    padding: 10px;
    width: 100%;
    top: 82px;
    position: absolute;
    z-index: 0;
    display: none;
}

.je_view_popup_bg{
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: #000000;    
    opacity: 0.6;
    filter: alpha(opacity=6);
    z-index: 0;
    display: none;
}

.tbl_user_activity td{
    padding: 8px;
    border-left: 1px dotted #cccccc;
    border-bottom:1px dotted #cccccc;
}

.dic_r_name{
    border: 0px solid red;
    overflow: hidden;
    height: 0px;
}

.mark_bill_stat_change:hover{
    text-decoration: underline;
}

.tbl_mark_bill_list tr:hover{
    background-color: #eaeaea;
}


.tbl_mark_bill_list td{
    padding: 10px;
    border:1px solid #cccccc;
}

.quick_nav_btn_front span{
    font-size: 38px;
}

.quick_nav_btn_front div{

    width: 150px;
    border: 1px solid Green;
    padding: 20px;
    text-align: center;
    color: #000000;

}



.div_fntr_det{

    border-top: 1px solid #cccccc;
    padding-top: 10px;
    margin-top: 20px;
    height:240px;
    display: none;

}

.audit_msg{
    float: right;
    font-family: 'bitter';
    font-size: 12px;
    background-color: #ffffff;
    padding: 4px;
    color: green;
}

.tbl_audit_item_row:hover{
    background-color: #f1f1f1;
}

.bn_sum_comment{
    border:1px solid Green;
    padding: 6px;
    font-size: 13px;
    font-family: 'roboto';
    border-radius: 4px;
}

.tbl_ga_tr_bn{
    background-color: #ffffff;
}

.tbl_ga_tr_bn:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}


.tbl_gold_audit td{

    padding: 10px;
    border-bottom: 1px solid #cccccc;

}


/*/-------------------------------*/

    
    /*.container { position: absolute; width: 100%; height: 100%; }
    .container__right { float: right; width: 400px; height: 100%; background: #eaeaea; padding: 0px; }
    .container__left { float: left; width: calc(100% - 400px); height: 100%; background: #f9f9f9; padding: 10px; }*/


/*/-------------------------------*/



.cl_chq_stat_cat{
    font-family: 'bitter';
    font-size: 19px;
    color:Green;
    text-transform: uppercase;
}

.cl_chq_stat_cat:hover{
    color:#000000;
    text-decoration: underline;
}

.chu_bc_model_title{
    font-size: 14px;
    font-family: 'roboto';

}

.all_rows:hover{
    background-color: #f8f8f8;    
}

.chq_stat_cchu_no_search{
    border:1px solid #cccccc;
    font-family: 'roboto';
    width: 100%;
    padding: 4px;
    font-size: 12px;
    display: none;
}

.row_bc{
    font-family: 'bitter';
    font-size: 19px;
    color: #333333;
}

.row_bc:hover{
    color: #ffffff;
    background-color: Green;
    cursor: pointer;
}

.tbl_cheque_status td{
    padding: 15px;
    border:1px solid #cccccc;
}

.chq_stat{

    border:0px solid red;
    width: 100%;
    margin: auto;

}

.tbl_incmg_req_aa td{
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    font-family: 'roboto';
}

.tbl_incmg_req_aa tr:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

.bc_name_cls span{
    font-size: 19px;
    font-family: 'bitter';    
}

.tbl_red_can_log td{

    font-family: 'roboto';
    padding: 5px;
    border:1px solid #cccccc;

}

.div_pp_det_item{
    border-bottom:1px solid #cccccc;
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    float: left;
}

.div_pp_det_item div{
    font-family: 'bitter';
    color:#000000;
    font-size: 19px;
    margin-bottom: 6px;
}

.user_list_display_name{
    font-size: 11px;
    color: #666666;
}

.user_list_link{
    float: right;
}

.user_list_row_group{
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    font-size: 19px;
    font-family: 'bitter';
    color: #666666;
}

.user_list_row{    
    padding: 5px;
}

.user_list_row:hover{    
    padding: 5px;
    background-color: #f1f1f1;
}

.tbl_income_statment td{
    font-family: 'Roboto';
    font-size: 13px;
    padding: 2px;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    color: #000000;
}

.tbl_income_statment tr:nth-child(even) {
    background-color: #f5f5f5;
}


.tbl_income_statment tbody td:nth-child(odd) {
    color: #000000;
}

.tbl_income_statment thead td{    
    text-transform: capitalize;
}

.bc_bal_amount{
    border:none;
    text-align: right;
    font-family: 'bitter';
    font-size: 19px;
}

.bc_cash_bal td{
    padding: 10px;
    font-family: 'bitter';
    font-size: 19px;    
}

.bc_cash_bal tr:hover{
    background-color: #f1f1f1;    
}

#pdfdiv_content{
    width:0px;
    height:0px;
    border:1px solid #0000FF;
    position:absolute;
    
}

.w100{
    width:100%;
    position:absolute;
    height:50%;
    }

.tbl_com_reg{
    text-align: left;
}

.auth_title{
    font-family: 'bitter';
    font-size: 28px;
}

.auth_holder{
    text-align: center;
    border:0px solid red;
    position: absolute;
    
    height: 300px;
    top: 50%;
    margin-left: -500px;

    width: 1000px;
    left: 50%;
    margin-top: -150px;
}

.auth_txt{
    padding: 10px;
    font-family: 'bitter';
    font-size: 24px;
    text-align: center;
    border:1px solid #cccccc;
    width: 220px;
}


.auth_txt:hover{    
    border:1px solid green;
}
.auth_txt:focus{    
    border:1px solid green;
}


.btn_reg_hover_highlight{
    background-color: #eaeaea;
    border:1px solid #ccc;
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;    
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 4px;
}

.btn_reg_reject_hover_highlight{
    background-color: #eaeaea;
    border:1px solid #ccc;
    color: #000000;
    font-family: "Roboto";
    font-size: 14px;    
    padding: 5px;
    width: auto;
    border-radius: 4px;
    margin-bottom: 4px;
}

.btn_reg_reject_hover_highlight:hover{
    background-color: Red;
    color: #ffffff;
    border:1px solid red;
}

.btn_reg_hover_highlight:hover{
    background-color: green;
    color: #ffffff;
    border:1px solid Green;
}

.tbl_master_n td{
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 19px;
    font-family: 'bitter';
}

.tbl_master_n tr:hover{
    background-color: #eaeaea;
}

.bc_cash_book_acc_show td{
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
}

.bc_acc_txt{
    border: 1px solid #cccccc;
    padding: 8px;
    width: 100%;
    font-family: bitter;
    font-size: 13px;
}

.close_item_app_popup{
    cursor: pointer;    
}

.close_item_app_popup:hover{
    cursor: pointer;    
    color: red;    
}

.article_view_inner{
    
    position: absolute;
    background-color: #ffffff;
    width: 1100px;
    height: 300px;
    z-index: 10;

    border: 1px solid #cccccc;

    left: 50%;
    margin-left: -550px;

    top: 50%;
    margin-top: -150px;

    overflow: auto;
    display: none;
}

.article_view_outter{
    
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: 0px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    display: none;

}

.chequ_exist_msg{
    overflow: hidden;
    height:0px;
    background-color: red;
    color: #ffffff;
    font-size: 14px;
    font-family: 'bitter';
}

.blinker {
  opacity: 0;
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}

.notifi_indicator{
    color: #f9f9f9;
    width: 23px;
    height: 23px;

    padding: 3px;
    padding-top: 6px;
    text-align: center;
    border-radius: 12px;

    float: left;
    margin-top: 10px;

    font-size: 12px;
    font-family: bitter;

    margin-left: -27px;   

}

.notifi_holder:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

.notifi_holder{
    border-bottom: 1px dotted #cccccc;
    padding:20px;
    width: 100%;
    font-size: 14px;
    color: #000000;
    
    
}

.tbl_voucher_print td{
    padding: 5px;
    border: 1px solid #cccccc;    
    
}

.txtcustom{
    font-size: 19px;
    font-family: 'bitter';
}

.input_text_regular_ftr{
    border:1px solid green;    
    border-radius: 4px;
    font-family: "Roboto";    
    width: 180px;
    padding: 5px;    
}


.tbl_gold_rate_change_log thead td{    
    font-weight: 600;
    padding: 10px;
    border: 1px solid #cccccc;

}

.tbl_gold_rate_change_log tbody td{         
    padding: 10px;
    border: 1px solid #cccccc;

}

.chqu_wrd_comment{
    width: 100%;
    padding: 5px;

}

.ftr_print_vou{
    background-color: red;
    color: #ffffff;
}

.tab_selector_{
    border:1px solid #cccccc;    
}

.tab_title_,.tab_title_cheque{
    padding: 10px;
    font-family: "bitter";
    font-size: 20px;    
    background-color: #eaeaea;
    color: #000000;
    cursor: pointer;
}

.tab_title_cheque:hover{
    background-color: green;
    color: #ffffff;
}

.tab_title_:hover{
    background-color: green;
    color: #ffffff;
}

.tab_content_{
    overflow: hidden;    
    height: 0px;
}

.tab_content_cheque_{
    overflow: hidden;    
    height:0px;
}


.div_tt_hldr{
    padding: 15px;
    background-color: #eaeaea;
}

.tbl_tt td{
    padding: 5px;
}

.div_rpt_makr_red{
    width: 7px;
    height: 7px;
    background-color: red;
    float: left;
    margin-right: 10px;
    margin-bottom: -5px;
    border-radius: 4px;
}



.tbl_dis_app tr:hover{
    background-color: #f1f1f1;
}

.tbl_dis_app td{
    border: 1px solid #eaeaea;
    padding: 10px;
}

.tbl_dis_app thead{
    font-family: bitter;    
}


.input_text_regular_app{
    border: 1px solid green;
    padding: 5px;
}

.div_manager_auth_option,.div_manager_auth_option_2{

    overflow: hidden;
    height: 0px;
    background-color: #f1f1f1;
}

.div_manager_auth_option,.div_manager_auth_option_2 table{
   
    font-family: 'bitter';
    font-size: 22px;

}


.div_cou_inner_msg{
    padding: 10px;
    font-family: 'bitter';
    font-size: 22px;
    background-color: red;
    color: #ffffff;    
}

.div_vou_hin{
    overflow: hidden;
    height: 0px;
}


ul.a {
    list-style-type: circle;
    margin-bottom: 10px;
}

.vvv{
    
    width: 200px;
    float: left;
}

.ccc{
    width: 100%; float: left;
}

.r_btn_holder{

    position: fixed;
    bottom: 0px;
    padding: 20px;
    padding-left: 0px;

    background-color: #ffffff;
    width: 100%;
    

}

.rpt_critaria_bar{
    border: 0px solid green;    
    background-color: #ffffff;
}

.tbl_remind_letters_list td{
    padding: 4px;
    border-bottom: 1px solid #cccccc;
}

.tr_asa td{
    font-size: 14px;
    font-family: "bitter";
    background-color: #f9f9f9;
    padding: 8px;
}

.div_fund_tr_view{

    overflow: hidden;
    height: 0px;

}

.view_incomming_requ:hover{
    text-decoration: underline;
}

.update_incomming_requ:hover{
    text-decoration: underline;
}

.chq_lable{
    color: #cccccc;
}

.total_vocher{
    font-family: bitter;
    font-size: 22px;
}

.voucher_acc_list td{
    font-size: 12px;
    
    border:1px solid #cccccc;    
    height: 30px;
    
}

.tbl_voucher td{
    padding: 2px;
    border-top: 0px solid #eaeaea;    
    border-left: 0px solid #eaeaea;
}

.tbl_voucher input[type='text'] {    
    border:1px solid #cccccc;    
    border-radius: 4px;
    font-family: "bitter";    
    width: 100%;    
    padding: 5px;    
    font-size: 14px;
}

.tbl_voucher input[type='text']:hover {    
    border:1px solid green;        
}

.tbl_voucher input[type='text']:focus {    
    border:1px solid green;        
}

.tbl_voucher select {    
    border:1px solid #cccccc;    
    border-radius: 4px;
    font-family: "bitter";    
    width: 100%;    
    padding: 5px;    
    font-size: 13px;
}


.abc:hover{
    background-color: #cccccc;
}

.gxt{
    display: none;
}

.gmod{
    padding:10px;    
    color:#000000;
    font-size:22px;
    border-bottom: 1px solid #cccccc;
}

.gmod:hover{
    background-color: #eaeaea;
    cursor: pointer;
    color: #000000;
}

.tbl_daily_cash td{
    padding: 10px;  
    
    border-bottom: 1px solid #cccccc;
}

.tbl_daily_cash tr:hover{
    background-color: #eaeaea;    
}

.adv_canceled_tr td{
    color: #a6a6a6;
    text-decoration: line-through;
}

.adv_remove_link:hover{
    text-decoration:underline;
    
}


.last_bill_in_time_limit{
    background-color: "green";    
}

.div_cus_sync{

    border:0px solid red;
    position: absolute;
    top: 0px;

    width: 1000px;
    height: 100px;

    left:50%;
    margin-left: -500px;

    top :50%;
    margin-top: -50px;

}

.opn_bn{
    font-size:10px;
    border: none;
    font-size: 12px;
    padding: 6px;
}

.access_fobi{
    font-size: "bitter";
    font-size: 100px;
    color: #f1f1f1;
}

.tbl_role_sum{
    
    text-align: left;

}

.module_txt{
    font-family: "bitter";
    font-size: 19px;
    text-transform: lowercase;
}

.div_prev_bill_a{
    color: #999999;
}

.div_prev_bill_a:hover{
    color: #000000;
    text-decoration: underline;
}

.div_prev_bill{    
    border: 0px solid green;    
    font-family: "bitter";
    font-size: 13px;    
}

.div_next_bill{    
    border:0px solid red;    
    font-family: "bitter";
    font-size: 13px;    
}

.ym_dropdown{
    margin-top: 10px;
    padding-right: 20px;
    border: none;
    font-family: "bitter";
    font-size: 20px;    
}

.tbl_sv td,th{
    text-align: left;    
    padding: 10px;
    font-family: "bitter";
    font-size:13px;
}

.tbl_sv tbody td{
    text-align: left;    
    padding: 10px;
    color: red;
    font-family: "bitter";
    font-size: 14px;
    background-color: green;
    color: #ffffff;
}

.tbl_sv tfoot tr:hover{
    background-color: #eaeaea;
}



.close_cus_his_window{
    border: 1px solid Green;
    padding: 3px;
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: -25px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius:10px;
}

.close_cus_his_window:hover{
    border: 1px solid red;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}

.cus_his_cus_val{
    font-family: "bitter";
    font-size: 28px;
    text-align: right;
    margin-top: 10px;
}

.cus_his_cus_title{
    font-family: "bitter";
    font-size: 14px;
}

.tbl_cus_his_sum td{
    padding:10px;
    border: 1px solid #cccccc;     
}

.tbl_cus_statment{
    width: 100%;
    border: 1px solid #cccccc;
}

.tbl_cus_statment td{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    font-family: "bitter";
    font-size: 19px;
    color: #666666;    
}

.tbl_cus_statment th{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    font-family: "bitter";
    font-size: 19px;        
}

.tbl_cus_statment tr:hover{
    background-color: #f1f1f1;
    color: #ffffff;
}

.selected_bill_details{
    padding-left: 20px;
    padding-right: 20px;
}

.cus_bills_c{
    text-align: right;
    font-family: "bitter";
    font-size: 22px;
    color: Gray;
}

.cus_bills_a{
    font-family: "bitter";
    font-size: 22px;
    color: Green;
}

.cus_bills_0{
    border: 1px solid Green;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cus_bills_0:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.cus_bill_not_found{
    font-family: "bitter";
    font-size: 62px;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding: 50px;
    width: 100%
}

.search_customer_nic{
    float: right;
    font-family: "bitter";
    font-size: 32px;
    color: Green;
    text-transform: capitalize;
}

.search_customer_address{
    font-family: "bitter";
    font-size: 22px;
    color: gray;
    text-transform: capitalize;
}

.search_customer_name{
    font-family: "bitter";
    font-size: 32px;
    color: Green;
    text-transform: capitalize;
    float: left;
    
}

.search_bg{
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    opacity: 0.2;
    filter: alpha(opacity=20);
    visibility: hidden;
}

.search_inner{
    border-top: 4px solid Green;
    background-color: #ffffff;
    padding: 
    z-index: 1000;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    position: absolute;    
    padding: 30px;
    visibility: hidden;
}

.paid_upto{
    float:right;
    margin: -15px 10px 10px 0px;
    font-family: "Bitter";
    font-size: 19px;
    color: Green
}

.tbl_search td{    
    border: 1px dotted #cccccc;
    padding: 10px;
    font-size: 14px;
}

.tbl_search tr:hover{    
    background-color: Green;
    color: #ffffff;
    cursor: pointer;
}

.input_text_search{

    border: 1px solid Green;
    padding:5px;
    margin: 2px 0px 15px 0px ;

}

.clear_bc_no{

    border:1px solid green;
    border-radius: 10px;
    color: #999999;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left:66px; 
    padding: 3px;
    float: right;
    position: absolute;
    margin-top: -23px;
        
}


.header_bc_title{
    font-size: 14px;
}

.tbl_billno_date_setup td{
    color: #000000;
    border-top: 1px solid #cccccc;
    padding: 10px;
}

.footer_holder{
    position: absolute;
    font-family: "Bitter";
    bottom: 0px;    
    border-top:1px solid #eaeaea;
    width: 100%;
    padding: 10px;
    font-size: 11px;
    text-align: right;
    color: #999999;
}


.div_cus_bc{
    font-size: 11px;
    color: green;    
}

.tbl_customer td{
    background-color: #f9f9f9;
    padding: 10px;
}

.tbl_customer tr:hover{
    background-color: red;    
}


#tgrid td{
    
}

.print_app_voucher{
    color: blue;
}

.print_app_voucher:hover{
    cursor: pointer;    
    text-decoration: underline;
    background-color: green;
    color: #ffffff;
}

.section_cash{
    background-color: #eaeaea;
}

.section_cheques{
    visibility: hidden;
}

.tbl_gr_cheque input[type=text]{
    width:100%;
    border:1px solid green;
    padding: 2px;
    border-radius: 4px;
    font-size: 11px;
}

.input_text_gl{
    border:1px solid Green;    
    border-radius: 4px;
    font-family: "Roboto";        
    padding: 5px;    
    font-size: 13px;
    width: 100%;
}

.tbl_gr_cheque input[type=text]{
    width:100%;
    border:1px solid green;
    padding: 2px;
    border-radius: 4px;
    font-size: 11px;
}

.tbl_gr td{
    padding: 7px;
    font-size: 12px;
    border-bottom: 1px solid #cccccc;
}

.tbl_gr_bottom td{
    padding: 7px;
}



.blacklist_chk{
    padding: 10px;    
    margin: 10px;    
}
.blacklist_chk:hover{

    background-color: red;
    color: #ffffff;
    cursor: pointer;
}

.div_msg_list{
    background-color: #f9f9f9;
    border:1px solid #cccccc;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.msg_create_textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-left: 0px;    
    overflow:hidden
}

.msg_create_textarea:focus{
    border: 1px solid Green;
}

.dashborad_msg{
    border-bottom:0px solid #cccccc;
    padding: 0px 10px 10px 0px;
    font-size: 14px;    
    margin-right: -14px;
}

.msg_c{
    border:1px solid #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
}

.msg_c:hover{
    background-color: #f6f6f6;
    border: 1px solid Green;
}

.msg_c img{
    
    border: 1px solid #eaeaea;
    padding: 5px;
}

.cash_bal_a{    
    width: 500px;
    padding: 10px;
    border-bottom:1px solid #cccccc;
}

.cash_bal_a:hover{
    background-color: #eaeaea;
}

.cash_bal_b{
    padding: 5px;
    text-align: right;
    float: right;
    font-family: "Bitter";
    font-size: 20px;
    margin-top: -5px;
}


.notifications{    
    background-color: #f1f1f1;
    position: absolute;   
    z-index: 7;        
    min-width: 400px;    
    max-height: 1000;
    width:600px;
    height: 100%;
    visibility: hidden;
    box-shadow: 3px 1px 6px #f1f1f1;
    overflow-x:hidden; overflow-y: scroll;;

}

.div_shadow_hide{
    background-color: #ffffff;
    position: absolute;
    width: 165px;
    height: 20px;
    float: right;
    right: 0;
    margin-top: -20px;
}

.notifications_title{
    font-family: "roboto";
    font-size: 12px;
    height: auto;
    border:0px solid #eaeaea;
}

.xxx{
    padding: 30px;
    border-bottom: 1px solid #f1f1f1;
}

.xxx:hover{
    background-color: Green;
    color: #ffffff;
    cursor: pointer;
}


























.vc:hover{
    text-decoration: underline;
}







::selection { background-color: green; color: white; }

::-moz-selection { background-color: green; color: white; }



@font-face {

  font-family: 'Roboto';

  font-style: normal;

  font-weight: 300;

  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');

}

/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v7/zfs6I-5mjWQ3nxqccMoL2A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

.customer_id_dropdown{
    width: 78px;
    margin-top: -1px;
    padding: 0px;
    border:none;

}

.update_incomming_requ :hover{
    text-decoration: underline;
}

.cash_cheque_grid_disabled {
    pointer-events: none;
    opacity: 0.2;
}

.cash_cheque_grid {
    
}

.x{
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
    border:1px solid #cccccc;    
}

.tbl_incmg_req thead td{
    font-size: 14px;
    font-weight: bold;
    
}

.tbl_incmg_req td{
    padding: 15px;
    border:1px dotted #cccccc;
}

.tbl_incmg_req tr:hover{
    background-color: #f1f1f1;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}


.lnkPaymentOption{
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 7px;
    border-radius: 2px;
    background-color: #f1f1f1;
    z-index: 1000;
}

.lnkPaymentOption:hover{
    background-color: green;
    color: #ffffff;
}

.pay-opt-title{
    border:0px solid red;    
    margin: 10px;
    font-size: 15px;    
    float: left;
}

.pay-close{
    border:0px solid red;    
    margin: 10px;
    font-size: 15px;
    color: #999999;
    float: right;    
}

.pay-close:hover{
    cursor: pointer;
    text-decoration: underline;
}

.op_holder{
    border-top:1px solid #cccccc; 
    border-left:1px solid #cccccc; 
    height:400px;
    overflow: hidden;
}

.pay-opt-penal{    
    border:1px dotted green;    
    padding: 4px;
    font-size: 13px;
    margin: 10px;
    margin-top: 0px;
    height: 80px;
}

.pay-penal-sub{
    border-top:1px solid #cccccc; 
    border-left:1px solid #cccccc; 
    border:0px solid red;
    height:00px;
    overflow: hidden;
}

.request_id{
    font-size: 34px;
    float: left;
    margin-left: 35px;
}













.left_hover_slider{
    border:0px solid red;
    width: 5px;
    height: 100%;    
    position: fixed;
    z-index: 1;
}

.left_hover_slider_content{    
    width: 0px;
    height: 500px;    
    position: fixed;
    background-color: #eaeaea;
    z-index: 0;
    top: 50%;
    margin-top: -250px;
    visibility: hidden;
    overflow: hidden;        
}

.left_icons{
    width:75px;
    height: 75px;
    border:1px solid #eaeaea; 
    font-size: 40px;
    padding: 15px;
    visibility: hidden;    
}

.select_drp{

    border:1px solid #fff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 160px;    

    padding: 5px;    

    font-size: 12px;

}


.solution_by{
    font-family: "Roboto";
    font-size: 13px;
    border:0px solid red;
    padding: 5px;    
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.select_drp:focus{

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}


.multiple_billtype_selection{
    background-color: #ffffff;
    padding: 30px;
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top :25%;    
    color: #fff;        
    border-radius:0px 0px 0px 0px;
    font-family: "roboto"; 
    font-size: 14px;
    font-weight: bold;
    z-index: 15;
    color: #000000;
    display: none;
    box-shadow: 5px 5px 5px #888888;
}



.msg_pop_up_bg{    

    opacity: 0.2;

    filter: alpha(opacity=20);

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    z-index: 10;

    background-color: #000000;

    display: none;

}



.msg_pop_up_sucess{
    background-color: #ffffff;
    padding: 30px;
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top :50%;
    margin-top: -50px;    
    color: #fff;        
    border-radius:0px 0px 0px 0px;
    font-family: "roboto"; 
    font-size: 14px;
    font-weight: bold;
    z-index: 15;
    color: #000000;
    display: none;
    box-shadow: 5px 5px 5px #888888;

}



.msg_pop_up_bg_PP{    

    opacity: 0.2;

    filter: alpha(opacity=20);

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    z-index: 10;

    background-color: #000000;

    display: none;

}



.msg_amt{

    font-family: "roboto"; 

    font-size: 34px;

    text-align: right;

}



.msg_pop_up_sucess_PP{

    background-color: #ffffff;

    padding: 30px;

    position: absolute;

    width: 760px;    

    left: 50%;

    margin-left: -400px;

    top :50%;

    margin-top: -220px;    

    color: #fff;        

    border-radius:0px 0px 0px 0px;

    font-family: "roboto"; 

    font-size: 14px;    

    z-index: 15;

    color: #000000;

    display: none;

    box-shadow: 5px 5px 5px #888888;

}



.show_pawn_articles_div{

    text-align: center;

    background-color: #eaeaea;

    padding: 15px;

    position: absolute;

    width:670px;    

    font-weight: bold;

}



.show_pawn_articles_div:hover{    

    background-color: Green;    

    cursor: pointer;

    color:#ffffff;

}



.page_contain{

	margin: 13px;

	color: #000000;

}



.page_contain_new_pawn{

    font-family: "Roboto" !important;

    margin: 0px;

    color: #000000;    

}



.menu_holder_div{

    border:0px solid red;

    width: 120px;

    height: 40px;

    float: left;

    margin-top: -19px;

    padding: 0;

    margin-left: -18px;

}



.company_name{

	background-color: #f7f7f7;

    color: #000000;

    font-family: "Roboto";

    font-size: 40px;    

    text-align: left;

    padding: 10px;

    padding-left: 14px;
    padding-right: 0px;

    text-align: center;

    height: 43px;

    border-top: 1px solid Green;

    border-bottom: 1px solid #eaeaea;

}



.company_name_title_small{    

    color: Green;

    font-family: "Bitter";

    font-size: 19px;        

    padding: 10px;    

    float: left;   

    border: 0px solid red;

    margin-top: -8px;
    text-transform: uppercase;

}



.header_main_div{

	border: 1px solid #f1f1f1;

	border-top: 1px solid #f1f1f1;

	background-color: #fefefe;

	padding: 0px;

	height: 30px;

	margin-bottom: -12px;

}



.menu_holder_inner{

	float: left;

}



.logout_div{	

	float: right;	

}



.menu_top_link {	
    
    color: Green;
    font-family: "Bitter";
    font-size: 19px;      
    padding: 10px;    
    margin-top: 3px;
    float: left;   
    border: 0px solid red;
    text-transform: uppercase;    
}



.menu_top_link:hover {    
    color: #000000;    
}



.input_ui_dropdown{    

    width: 100%;
    border: none;

    font-family: "Roboto";

    font-size: 22px;

}



/*li{

     list-style: none;

    display: inline;

    padding:0 20px 0 20px;

    font-family: Arial;

    font: 24px bolder;

    float:left;

    }*/

/*li span

{

    float: left;

    color: #00ADEF;

    padding: 2px;

    margin: 2px 5px 0 0;

    text-align: right;

    font: bold 15px Arial;

    width: 100px;

        }*/



#left

{   background: url(../images/smLogo.jpg) no-repeat center right;}

#main 

{

    z-index: 100;

    width:100%;

    height: 200px;

    border-bottom: 5px solid #00ADEF;

    position: absolute;

    left:0; top:30%;

}

#top

{  font: XX-large Arial;

    color: #fff;

   background-color:#59D3F8  ;/* #ccffcc;*/

    text-align: center ;

   height: 35px;

   width:100%;

   border-bottom:#0092E8 3px solid;  /*#34F1FF */

   border-top:#0092E8 5px solid;  /*#34F1FF */

    font-family: Arial;

}

#left,#right{

    float:left;

     width: 49.5%;

height: 155px;

   }



/*li input{

    width:150px;

    }*/



#right{

    float:right;  

     background-color:#E8F5FD;

    }



    fieldset

    {

        width:420px;

        border :#00ADEF 2px solid;

}

#f{

    text-transform: capitalize;

    /*height: 95px;

    width:300px;

    float: right;

    background: url('../images/loadingBig.gif') no-repeat;

    margin-top: -65px;*/

}

#a{text-transform: capitalize;

    /*text-align: center;

    height: 30px;

    width:300px;

    float: right;

    color:#00ADEF;*/

}

legend

{

    color:#00ADEF;

      font: bold 15px Arial;

}



#footer

{

    height:15px;

    width:100%;

    text-align: center;

    clear:left;

    display: block;

    border-top: 3px solid;

    padding:2px;

    background: #e3eafa;  font-family: Tahoma;

    font-size: 11px;

    color: #0099ff;

}



input

{  border:.5px solid #00ADEF;

   background-color: #fff;}



.headerLine{

    background-color: #f7f7f7;

    text-align: center;

    color: #000000;

    padding: 10px;

    font-family: "Roboto";

    font-size: 40px;

    padding-left: 20px;    

}



.middleBox{

    border:0px solid green;    
    height: 340px;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    
    width:670px;
    left: 50%;
    margin-left: -335px;

}



.middle_logo{

    border: 0px solid red;

    position: absolute;

    width: 304px;
    top: 50%;

    height:190px;

    margin-top: -95px;

    background-image: url("../images/logo.jpg");

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center; 

    float: left;

}



.input_holder{

    

    border-left: 1px solid #ccc;

    margin-left: 20px;    

    float: right;

    padding: 22px;

    padding-top: 5px;

    padding-bottom: 10px;

    position: absolute;
    top: 50%;

    width:300px;
    height: 290px;
    margin-top: -145px;
    margin-left: 300px;

}



.loginTxt{

    border:1px solid #ccc;

    padding: 7px;

    width: 200px;

    border-radius: 2px;

}



.loginTxt:focus{

    border:1px solid green;

    padding: 7px;

    width: 200px;

    border-radius: 2px;

}



#div_login_msg{

    font-family: "roboto";

    font-size: 14px;

}



.loginSpan{

    font-family: "roboto";

    font-size: 14px;

}



.btnLogin{

    background-color: #f9f9f9;

    color: #000000;

    border: none;

    padding:8px;

    border: 1px solid #ccc;

    border-radius: 4px;

    width: 216px;

}



.btnLogin:hover{

    background-color: green;

    border: 1px solid #333333;

    color: #ffffff;    

}



.loginMsg{

    border:0px solid red;

    position: absolute;

    bottom: 0px;    

    width: 380px;

    text-align: center;

    font-family: "Trebuchet MS";

    font-size: 14px;

    padding: 5px;

    margin-left: 24px;

}



.bottom_div{

    font-family: "Trebuchet MS";

    font-size: 12px;

    position: absolute;

    bottom: 0;    

    border:0px solid red;

    width: 100%;

    color: #666

}





.bottom_left{    

    float: left;

    padding: 10px;

}



.bottom_right{    

    float: right;

    padding: 10px;

}



.bottom_right_img{

    float: right;

    padding-right: 20px;

    margin-top: -50px;    

}



.alink{

    text-decoration: none;

    color: #333;

}



.alink:hover{

    text-decoration: underline;

    color: #000;

}



.top_line_menu{
    border: 1px solid red;
    width:350px;
    float: right;
}

.top_links_holder{
    border:0px solid red;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
}

.page_main_title{
    border:0px solid red;
}

.page_main_title span{

    color: #333333;
    font-family: "Bitter";
    font-size: 19px;

}



.page_main_title_new_pawn{

    border-bottom:1px solid #eaeaea;

    padding: 10px;

    background-color: #FCFCFC;

    height: 40px;

}



.discount_title_holder{

    border-bottom:0px solid #eaeaea;

    padding: 10px;

    background-color: #FCFCFC;

    height: 40px;

}



.discount_title_holder span{

    color: #000;

    font-family: "Roboto";

    font-size: 14px;

}



.discount_requests{

    border:0px solid Green;

    padding: 0px 20px 0px 20px;

    font-family: "Roboto";

    font-size: 12px;

}



.discount_requests_title{

    border:0px solid Green;

    padding: 0px 20px 0px 20px;

    font-family: "Roboto";

    font-size: 12px;

    background-color: #f1f1f1;

}

.discount_requests_title_a{
    
    padding: 0px;
    font-family: "Roboto";
    font-size: 12px;
    background-color: #ffffff;
}



.request_row{

    border-bottom: 1px solid #eaeaea;

    padding: 10px;

    height: 30px;

}



.RR_title_content{

    border:0px solid red;

    width: 75px;

    float: left;

}



.input_approval{

    border:1px solid #cccccc;

    font-family: "Roboto";

    font-size: 12px;

    margin-top: -12px;

    width: 110px;

    text-align: right;    

    border-radius: 4px;    

}



.link_app{

    color: #000000;

}



.link_app:hover{

    color: Green;

    cursor: pointer;

    text-decoration: underline;

}



.approval_tab{

    text-align:center;

    width:150px;

    float:left;

    border-bottom:1px solid #eaeaea;

    padding: 10px;

    padding-top: 0px;

    margin-right: 0px;    

}



.approval_tab:hover{    

    border-bottom:2px solid #999999;    

    cursor: pointer;

}



.approval_tab_selected{

    text-align:center;

    width:150px;

    float:left;

    border-bottom:2px solid Green;

    padding: 10px;

    padding-top: 0px;

    margin-right: 0px;    

}



.tbl_master td{

    font-family: "Roboto";

    font-size: 14px;

    border:1px solid #ffffff;

    padding-right:50px;

}



.text_box_holder{

    border-bottom: 1px solid #ccc;

    padding: 6px;

    width: 500px;

    margin: 10px;    

}



.text_box_holder:hover{

    background-color: #f1f1f1;

}



.exits_text_box_holder{

    border-bottom: 1px solid #ccc;

    padding: 6px;

    width: 340px;

    margin: 10px;    

}



.exits_text_box_holder:hover{

    background-color: #f9f9f9;

}



.page_main_title_new_pawn span{

    color: #000;

    font-family: "Roboto";

    font-size: 18px;

}













































.text_box_holder_new_pawn{

    border-left: 1px solid #ccc;            

    padding: 5px;

    padding-top: 10px;

    border-bottom: 0px solid #ccc;

}



.text_box_title_holder_new_pawn{

    margin-right: 10px;

    border:0px solid red;

    width: 100px;

    float: left;    

    font-size: 13px;

    font-family: "Roboto";    

    margin-bottom: 5px;

    margin-left: 5px;

}



.input_text_regular_new_pawn{    

    border:1px solid #fff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

    font-size: 12px;

}



.input_text_regular_new_pawn:focus{    

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}



.input_text_regular_new_pawn:hover{    

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}



.loan_dtl_contain{

    border-bottom:1px solid #ccc; 

    width:100%;

    height: 65px;

    background-color: #eaeaea;

}





.loan_dtl_contain_det{

    border-bottom:1px solid #ccc; 

    width:100%;

    height: 40px;   

}

.canceled_bill_msg{
    text-align: center;    
    background-color: red;
    color:#fff;
    font-size: 20px;    
    text-transform: capitalize;
    visibility: hidden;    
    height: 0px;
    overflow: hidden;
}




#item_list_holder{

    border: 0px solid red;

    width:1080px;

    height: 200px;

    overflow-y : auto;

}



#item_list_tot_holder{

    border: 0px solid red;

    width:1060px;

    height: 50px;

    overflow-y : auto;l;    

}





.item_list_btn_holder{

    border: 0px solid red;

    width:1024px;

    margin-top: 20px;

}



.list-ur{

    cursor: pointer;

    font-size: 10px;        

}



.list-ur:hover{

    cursor: pointer;

    font-size: 10px;        

    text-decoration: underline;

}































.text_box_title_holder{

    margin-right: 10px;

    border:0px solid red;

    width: 85px;

    float: left;

    padding-top: 10px;

}







.input_text_regular{

    border:0px solid #eaeaea;

    padding: 0px;

    font-family: "Roboto";

    font-size: 22px;

    width: 390px;    

}







.btn_regular{    

    background-color: #eaeaea;

    border:1px solid #ccc;

    color: #000000;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_regular:hover{    

    background-color: #007e40;    

    color: #ffffff;    

}



.btn_regular_disable{    

    background-color: #eaeaea;

    border:1px solid #ccc;

    color: #ccc;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_login_regular_disable{    

    background-color: #f9f9f9;

    color: #cccccc;

    border: none;

    padding:8px;

    border: 1px solid #ccc;

    border-radius: 4px;

    width: 216px;    

}



.btn_regular_reset{    

    background-color: #007e40;

    border:1px solid #ccc;

    color: #ffffff;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_regular_reset:hover{    

    color:#ccc;

}



.currency{

    text-align: right;

}



.tbl_new_pawn td{

    border:0px solid #ccc;

}



.div_new_pawn_info_holder{

    border-bottom: 1px solid #ccc;    

    color: #000000;

    font-size: 13px;    

    background-color: #fcfcfc;

    padding-left: 10px;
    padding-right: 10px;

    

}



.div_new_pawn_info_holder span{

    

    color: #000000;

    font-family: "Roboto";

    font-size: 17px;    



    

}



.cus_n_bltyp_holder{

    border: 1px solid #ccc;

    border-top: none;

    border-right: none;    

    width: 100%;

    background-color:#999;

    color: #ffffff;

}



.customer_name_view{    

    float:right;

    text-align:right;

    font-family: "Roboto";

    font-size: 22px;    

}



.cus_name_large{

    font-family: "Roboto";

    font-size: 22px;    

}



.ui-autocomplete {

    max-height: 250px;

    

    overflow-y: auto;       

    overflow-x: hidden;    

}



.ui-autocomplete li {

    

}





* html .ui-autocomplete {

    height: 250px;

    

}



.input_text_large{    

    border:2px solid #ffffff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

    text-align: right;

    padding: 5px;

    font-weight: bold;

    color: #333333;

}

.input_text_app_search{    

    border:2px solid #ffffff;    
    border-radius: 4px;
    font-family: "Roboto";    
    width: 125px;    
    
    color: #333333;
    border:2px solid Green;
    padding:4px;
    font-size: 20px;
    float:right;
    text-transform: uppercase;
    padding-right: 20px;

}



.input_text_large:focus{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

}



.input_text_large:hover{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

}



.input_text_large_s{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 240px;

    font-size: 29px;

    text-align: right;

    font-weight: bold;

}



.input_text_large_readonly{    

    border:2px solid #ffffff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

    text-align: right;

    padding: 5px;

    font-weight: bold;

    color: #333333;

}



.billType_det_holder{

    border:0px solid red;

    width:624px

}



.pp_pawn_det_holder{

    border-top:1px solid #ccc;

}



.title_div_pp{



    font-size: 13px;

    font-weight: bold;

}



.pawn_msg{

    border: 1px solid red;    

    padding: 10px;

    text-align: left;

    font-size: 19px;

    background-color: red;

    color: #fff;

    font-family: "bitter";

    display: none;

}



#add_new_cus_front_pawn{    

    width:1060px;

    height:0px;

    overflow:hidden;

    border:0px solid red;

    background-color: #f9f9f9;

}



.input_div_holder{

    border:1px solid #cccccc;

    border-radius: 5px;

    margin-bottom: 10px;

}



.input_div_holder:hover{

    border:1px solid green;

    border-radius: 5px;

    margin-bottom: 10px;

}



.input_title_holder{

    border:0px solid blue;

    width:90px;

    float: left;

    font-size: 13px;

    padding: 7px;

}



.input_text_regular_pawn_front{

    border: none;

    border-left:1px solid #cccccc;

    width: 300px;

    font-size: 13px;

    padding: 5px;

    margin: 1px;

    padding-left: 10px;

}



.div_no_request{

    padding: 200px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: "roboto";
    font-size:70px;
    text-transform: capitalize;
    color: #999;
}



.dd{

    font-size: 37px;

    float: right;

}



.rpt_form{

    padding: 20px;

    font-size: 14px;

    font-family: "Roboto";

}



.opt_holder{

    border: 1px solid #eaeaea;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
}



.opt_holder:hover{
    border: 1px solid Green;
    background-color: Green;
    color: #ffffff;
}





.div_right_details{

    border:0px solid red; 

    width:auto; 

    

    position:absolute;

    font-size: 12px;

    padding: 0px;

    font-family: "Roboto";

}



.div_new_pawn_info_holder div{

    border:1px solid #eaeaea;

    margin-bottom: 10px;

    padding:10px; 

    border-radius: 5px;

    background-color: #ffffff;    

}



.div_new_pawn_info_holder_h3{

    color: #000000;

    margin-top: -16px;    

    margin-bottom: 15px;

    background-color: red;

    width: 75px;

    text-align: left; 

    font-size: 12px;   

    font-family: "Trebuchet MS";

}





.div_new_pawn_info_holder span{

    text-transform: capitalize;

    font-size: 13px;

    color: #000000;        

}



.slider_tab{          

     font-size: 14px;   

     font-family: "Trebuchet MS";

}



.slider_tab:hover{

     cursor: pointer;

     text-decoration: underline;

     font-size: 14px;   

     font-family: "Trebuchet MS";

}



.tbl_my_account{

    font-size: 12px;   

    font-family: "roboto";

}



.title_a{

    font-size: 18px;   

    font-family: "roboto";

}



.div_content_block{

    background-color: #f9f9f9;

    color: #000000;

    padding: 10px;

}



.input_text_regular_myaccount{    

    border:1px solid #cccccc;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

    font-size: 12px;

}



.input_text_regular_myaccount:hover{    

    border:1px solid Green;        

}



.input_text_regular_myaccount:focus{    

    border:1px solid Green;        

}



.tbl_item_details td{

    font-size: 11px;

    border-bottom: 1px solid #ccc;

    border-right: 1px dotted #ccc;

    padding: 4px;

}

.bt_bc_list_holder{
    border:0px solid red;
}

.bc_list_holder{
    border: 0px solid red;
    overflow: auto;
    height: 100px;
}

.list_div_bc{
    border-bottom: 1px solid #ccc;
    padding: 7px;
}

.lbl_bcs{
    background-color: #f1f1f1;
    padding: 4px;
    margin: 4px;    
    border-radius: 5px;    
    /*float: left;
*/    padding-right: 10px;
}

.lbl_bcs:hover{
    background-color: Green;    
    color: #fff;
}

.request_type_bbl_red{    
    background-color: red;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;        
}

.request_type_bbl_green{    
    background-color: green;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;    
    
}

.request_type_bbl_gray{    
    background-color: #666666;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;    
    
}

.icon_div{
    font-size:20px;
    position:absolute; 
    margin-left:-11px; 
    margin-top:-10px;
    color:#fff;
    border:0px solid #fff;
    padding: 5px;

}

.tblAdvList td{
    padding: 3px;
    border-bottom: 1px solid #ccc;
    width: 100px;
    font-size: 12px;
}

.tbl_bt td{
    font-size: 12px;
    border-bottom: 1px solid #eaeaea;
}

.btnAddaRow:hover{
    text-decoration: underline;
}

.cph_c{
    border:1px solid red;
    width: 100%;
    height: 80px;    
    text-align: center;
}

.cph_count{
    font-size: 34px;
}

.dashboard_sections{
    width: 150px;
}

.dashboard_sections_title{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.front_link{
    color: #000;    
    font-family:'Roboto';
    font-size:16px;
}

.front_link_div{
    width: 150px;
    padding: 6px;
    background-color: #f1f1f1;
}

.front_link_div:hover{
    cursor: pointer;
    width: 150px;
    padding: 6px;
    border-left: 2px solid Green;
    background-color: #f9f9f9;

}

.text_box_holder_commen{
    border:1px solid #ccc;
    padding: 5px;
}





.input_text_reg{    

    border:1px solid #ffffff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

    font-size: 12px;

}

.stick{
    position: fixed;
}

.bulk_item_codes{
    width: 100%;
    border-bottom: 1px dotted #cccccc;
}

.input_text_reg:focus{    
    border:1px solid green;    
}

.input_text_reg:hover{    
    border:1px solid green;
}

.span_notify{    
    color: red;
    padding: 2px;
    width: 36px;
    text-align: center;    
    font-family: "Bitter";    
}

.link_t{
    
}

.link_t:hover{
    color:#999999;
    background-color: green;
}

.div_bulk_items{
    margin-top: 8px;
    border:1px solid #cccccc;
    padding: 8px;
    width: 517px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    margin-left: -6px;
    z-index: 10;
}

.bulk_list_box{

    position: absolute;
    
    /*font-size: 14px;
    background-color: Green;
    color:#ffffff;
    padding: 10px;
    margin-bottom: -5px;
    text-align: center;
    border-radius: 4px;*/
}

.bulk_list_box:hover{
    background-color: #333333;
    color:#ffffff;
    cursor: pointer;
}

.bulk_item_row:hover{
    background-color: #f1f1f1;
}

.app_popup_bg{
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.app_popup{
    background-color: #ffffff;
    width: 600px;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
    visibility: hidden;
}

.app_c{
    padding: 40px;
}

.bc_cash_balance{
    font-size: 34px;
    text-align: right;
    padding: 10px;
}

.tmp_msg_header{
    padding: 10px;
    background-color: red;
    color: #ffffff;
    font-size: 24px;
    font-family: "bitter";
    text-align: center;
}


.bc_back_date_opt{
    padding: 10px;
    background-color:   #1abc9c  ;
    border-bottom: 0px solid #eaeaea;
    color: #ffffff;
    font-size: 19px;
    font-family: "bitter";
    text-align: center;
}

.bkdt_opt_red{
    background-color:  #ffe066;
    color: #000000;
}


.tbl_pp_next_bill_popup{

    border:1px solid Green; 
    padding:20px;
    height:270px;
    font-size:16px;

}