::selection { background-color: green; color: white; }

::-moz-selection { background-color: green; color: white; }



@font-face {

  font-family: 'Roboto';

  font-style: normal;

  font-weight: 300;

  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');

}

/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v7/zfs6I-5mjWQ3nxqccMoL2A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

.customer_id_dropdown{
    width: 78px;
    margin-top: -1px;
    padding: 0px;
    border:none;

}

.notification_penal{
    border:1px solid green;
    position: absolute;
    width: 200px;
    height: 400px;
    background-color: #ffffff;
    visibility: hidden;
    z-index: 10;

}




.lnkPaymentOption{
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 7px;
    border-radius: 2px;
    background-color: #f1f1f1;
    z-index: 1000;
}

.lnkPaymentOption:hover{
    background-color: green;
    color: #ffffff;
}

.pay-opt-title{
    border:0px solid red;    
    margin: 10px;
    font-size: 15px;    
    float: left;
}

.pay-close{
    border:0px solid red;    
    margin: 10px;
    font-size: 15px;
    color: #999999;
    float: right;    
}

.pay-close:hover{
    cursor: pointer;
    text-decoration: underline;
}

.op_holder{
    border-top:1px solid #cccccc; 
    border-left:1px solid #cccccc; 
    height:0px;
    overflow: hidden;
}

.pay-opt-penal{    
    border:1px dotted green;    
    padding: 4px;
    font-size: 13px;
    margin: 10px;
    margin-top: 0px;
}

.pay-penal-sub{
    border-top:1px solid #cccccc; 
    border-left:1px solid #cccccc; 
    border:0px solid red;
    height:00px;
    overflow: hidden;
}

.request_id{
    font-size: 34px;
    float: left;
    margin-left: 35px;
}













.left_hover_slider{
    border:0px solid red;
    width: 5px;
    height: 100%;    
    position: fixed;
    z-index: 1;
}

.left_hover_slider_content{    
    width: 0px;
    height: 500px;    
    position: fixed;
    background-color: #eaeaea;
    z-index: 0;
    top: 50%;
    margin-top: -250px;
    visibility: hidden;
    overflow: hidden;        
}

.left_icons{
    width:75px;
    height: 75px;
    border:1px solid #eaeaea; 
    font-size: 40px;
    padding: 15px;
    visibility: hidden;    
}

.select_drp{

    border:1px solid #fff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 160px;    

    padding: 5px;    

    font-size: 12px;

}


.solution_by{
    font-family: "Roboto";
    font-size: 13px;
    border:0px solid red;
    padding: 5px;
    width: 110px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.select_drp:focus{

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}

.xxxxx{
    background-color: #ffffff;
    
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top :50%;
    margin-top: -50px;    
    border:1px solid red;
}



.msg_pop_up_bg{    

    opacity: 0.2;

    filter: alpha(opacity=20);

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    z-index: 10;

    background-color: #000000;

    display: none;

}



.msg_pop_up_sucess{
    background-color: #ffffff;
    padding: 30px;
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top :50%;
    margin-top: -50px;    
    color: #fff;        
    border-radius:0px 0px 0px 0px;
    font-family: "roboto"; 
    font-size: 14px;
    font-weight: bold;
    z-index: 15;
    color: #000000;
    display: none;
    box-shadow: 5px 5px 5px #888888;

}



.msg_pop_up_bg_PP{    

    opacity: 0.2;

    filter: alpha(opacity=20);

    position: fixed;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    z-index: 10;

    background-color: #000000;

    display: none;

}



.msg_amt{

    font-family: "roboto"; 

    font-size: 34px;

    text-align: right;

}



.msg_pop_up_sucess_PP{

    background-color: #ffffff;

    padding: 30px;

    position: absolute;

    width: 760px;    

    left: 50%;

    margin-left: -400px;

    top :50%;

    margin-top: -220px;    

    color: #fff;        

    border-radius:0px 0px 0px 0px;

    font-family: "roboto"; 

    font-size: 14px;    

    z-index: 15;

    color: #000000;

    display: none;

    box-shadow: 5px 5px 5px #888888;

}



.show_pawn_articles_div{

    text-align: center;

    background-color: #eaeaea;

    padding: 15px;

    position: absolute;

    width:670px;    

    font-weight: bold;

}



.show_pawn_articles_div:hover{    

    background-color: Green;    

    cursor: pointer;

    color:#ffffff;

}



.page_contain{

	margin: 13px;

	color: #000000;

}



.page_contain_new_pawn{

    font-family: "Roboto" !important;

    margin: 0px;

    color: #000000;    

}



.menu_holder_div{

    border:0px solid red;

    width: 120px;

    height: 40px;

    float: left;

    margin-top: -19px;

    padding: 0;

    margin-left: -18px;

}



.company_name{

	background-color: #f7f7f7;

    color: #000000;

    font-family: "Roboto";

    font-size: 40px;    

    text-align: left;

    padding: 10px;

    padding-left: 14px;
    padding-right: 0px;

    text-align: center;

    height: 44px;

    border-top: 1px solid Green;

    border-bottom: 1px solid #eaeaea;

}



.company_name_title_small{    

    color: Green;

    font-family: "Bitter";

    font-size: 20px;        

    padding: 10px;    

    float: left;   

    border: 0px solid red;

    margin-top: -8px;
    text-transform: uppercase;

}



.header_main_div{

	border: 1px solid #f1f1f1;

	border-top: 1px solid #f1f1f1;

	background-color: #fefefe;

	padding: 0px;

	height: 30px;

	margin-bottom: -12px;

}



.menu_holder_inner{

	float: left;

}



.logout_div{	

	float: right;	

}



.menu_link {

	background-color: green;

	color: #ffffff;

	padding: 16px 10px 12px 10px;	

	text-align: center;	

	float: left;

	margin-right: 4px;	

	font-size: 14px;

	cursor: pointer;

    margin-top: -17px;

}



.menu_link:hover {

    background-color: #cccccc;

    color: #000000;    

}



.input_ui_dropdown{    

    border: none;

    font-family: "Roboto";

    font-size: 22px;

}



/*li{

     list-style: none;

    display: inline;

    padding:0 20px 0 20px;

    font-family: Arial;

    font: 24px bolder;

    float:left;

    }*/

/*li span

{

    float: left;

    color: #00ADEF;

    padding: 2px;

    margin: 2px 5px 0 0;

    text-align: right;

    font: bold 15px Arial;

    width: 100px;

        }*/



#left

{   background: url(../images/smLogo.jpg) no-repeat center right;}

#main 

{

    z-index: 100;

    width:100%;

    height: 200px;

    border-bottom: 5px solid #00ADEF;

    position: absolute;

    left:0; top:30%;

}

#top

{  font: XX-large Arial;

    color: #fff;

   background-color:#59D3F8  ;/* #ccffcc;*/

    text-align: center ;

   height: 35px;

   width:100%;

   border-bottom:#0092E8 3px solid;  /*#34F1FF */

   border-top:#0092E8 5px solid;  /*#34F1FF */

    font-family: Arial;

}

#left,#right{

    float:left;

     width: 49.5%;

height: 155px;

   }



/*li input{

    width:150px;

    }*/



#right{

    float:right;  

     background-color:#E8F5FD;

    }



    fieldset

    {

        width:420px;

        border :#00ADEF 2px solid;

}

#f{

    text-transform: capitalize;

    /*height: 95px;

    width:300px;

    float: right;

    background: url('../images/loadingBig.gif') no-repeat;

    margin-top: -65px;*/

}

#a{text-transform: capitalize;

    /*text-align: center;

    height: 30px;

    width:300px;

    float: right;

    color:#00ADEF;*/

}

legend

{

    color:#00ADEF;

      font: bold 15px Arial;

}



#footer

{

    height:15px;

    width:100%;

    text-align: center;

    clear:left;

    display: block;

    border-top: 3px solid;

    padding:2px;

    background: #e3eafa;  font-family: Tahoma;

    font-size: 11px;

    color: #0099ff;

}



input

{  border:.5px solid #00ADEF;

   background-color: #fff;}



.headerLine{

    background-color: #f7f7f7;

    text-align: center;

    color: #000000;

    padding: 10px;

    font-family: "Roboto";

    font-size: 40px;

    padding-left: 20px;    

}



.middleBox{

    border:0px solid green;    
    height: 340px;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    
    width:670px;
    left: 50%;
    margin-left: -335px;

}



.middle_logo{

    border: 0px solid red;

    position: absolute;

    width: 304px;
    top: 50%;

    height:190px;

    margin-top: -95px;

    background-image: url("../images/logo.jpg");

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center; 

    float: left;

}



.input_holder{

    

    border-left: 1px solid #ccc;

    margin-left: 20px;    

    float: right;

    padding: 22px;

    padding-top: 5px;

    padding-bottom: 10px;

    position: absolute;
    top: 50%;

    width:300px;
    height: 290px;
    margin-top: -145px;
    margin-left: 300px;

}



.loginTxt{

    border:1px solid #ccc;

    padding: 7px;

    width: 200px;

    border-radius: 2px;

}



.loginTxt:focus{

    border:1px solid green;

    padding: 7px;

    width: 200px;

    border-radius: 2px;

}



#div_login_msg{

    font-family: "roboto";

    font-size: 14px;

}



.loginSpan{

    font-family: "roboto";

    font-size: 14px;

}



.btnLogin{

    background-color: #f9f9f9;

    color: #000000;

    border: none;

    padding:8px;

    border: 1px solid #ccc;

    border-radius: 4px;

    width: 216px;

}



.btnLogin:hover{

    background-color: green;

    border: 1px solid #333333;

    color: #ffffff;    

}



.loginMsg{

    border:0px solid red;

    position: absolute;

    bottom: 0px;    

    width: 380px;

    text-align: center;

    font-family: "Trebuchet MS";

    font-size: 14px;

    padding: 5px;

    margin-left: 24px;

}



.bottom_div{

    font-family: "Trebuchet MS";

    font-size: 12px;

    position: absolute;

    bottom: 0;    

    border:0px solid red;

    width: 100%;

    color: #666

}





.bottom_left{    

    float: left;

    padding: 10px;

}



.bottom_right{    

    float: right;

    padding: 10px;

}



.bottom_right_img{

    float: right;

    padding-right: 20px;

    margin-top: -50px;    

}



.alink{

    text-decoration: none;

    color: #333;

}



.alink:hover{

    text-decoration: underline;

    color: #000;

}



.top_line_menu{

    border: 0px solid red;

    width:250px;

    float: right;

    padding: 7px 0px 7px 7px;

}



.page_main_title{

    border:0px solid red;

}



.page_main_title span{

    color: #000;

    font-family: "Roboto";

    font-size: 32px;

}



.page_main_title_new_pawn{

    border-bottom:1px solid #eaeaea;

    padding: 10px;

    background-color: #FCFCFC;

    height: 40px;

}



.discount_title_holder{

    border-bottom:0px solid #eaeaea;

    padding: 10px;

    background-color: #FCFCFC;

    height: 40px;

}



.discount_title_holder span{

    color: #000;

    font-family: "Roboto";

    font-size: 14px;

}



.discount_requests{

    border:0px solid Green;

    padding: 0px 20px 0px 20px;

    font-family: "Roboto";

    font-size: 12px;

}



.discount_requests_title{

    border:0px solid Green;

    padding: 0px 20px 0px 20px;

    font-family: "Roboto";

    font-size: 12px;

    background-color: #f1f1f1;

}



.request_row{

    border-bottom: 1px solid #eaeaea;

    padding: 10px;

    height: 30px;

}



.RR_title_content{

    border:0px solid red;

    width: 75px;

    float: left;

}



.input_approval{

    border:1px solid #cccccc;

    font-family: "Roboto";

    font-size: 12px;

    margin-top: -12px;

    width: 110px;

    text-align: right;    

    border-radius: 4px;    

}



.link_app{

    color: #000000;

}



.link_app:hover{

    color: Green;

    cursor: pointer;

    text-decoration: underline;

}



.approval_tab{

    text-align:center;

    width:200px;

    float:left;

    border-bottom:1px solid #eaeaea;

    padding: 10px;

    padding-top: 0px;

    margin-right: 0px;    

}



.approval_tab:hover{    

    border-bottom:2px solid #999999;    

    cursor: pointer;

}



.approval_tab_selected{

    text-align:center;

    width:200px;

    float:left;

    border-bottom:2px solid Green;

    padding: 10px;

    padding-top: 0px;

    margin-right: 0px;    

}



.tbl_master td{

    font-family: "Roboto";

    font-size: 14px;

    border:1px solid #ffffff;

    padding-right:50px;

}



.text_box_holder{

    border-bottom: 1px solid #ccc;

    padding: 6px;

    width: 500px;

    margin: 10px;    

}



.text_box_holder:hover{

    background-color: #f1f1f1;

}



.exits_text_box_holder{

    border-bottom: 1px solid #ccc;

    padding: 6px;

    width: 340px;

    margin: 10px;    

}



.exits_text_box_holder:hover{

    background-color: #f9f9f9;

}



.page_main_title_new_pawn span{

    color: #000;

    font-family: "Roboto";

    font-size: 18px;

}













































.text_box_holder_new_pawn{

    border-left: 1px solid #ccc;            

    padding: 5px;

    padding-top: 10px;

    border-bottom: 0px solid #ccc;

}



.text_box_title_holder_new_pawn{

    margin-right: 10px;

    border:0px solid red;

    width: 100px;

    float: left;    

    font-size: 13px;

    font-family: "Roboto";    

    margin-bottom: 5px;

    margin-left: 5px;

}



.input_text_regular_new_pawn{    

    border:1px solid #fff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

    font-size: 12px;

}



.input_text_regular_new_pawn:focus{    

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}



.input_text_regular_new_pawn:hover{    

    border:1px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

}



.loan_dtl_contain{

    border-bottom:1px solid #ccc; 

    width:100%;

    height: 65px;

    background-color: #eaeaea;

}





.loan_dtl_contain_det{

    border-bottom:1px solid #ccc; 

    width:100%;

    height: 40px;   

}

.canceled_bill_msg{
    text-align: center;    
    background-color: red;
    color:#fff;
    font-size: 20px;    
    text-transform: capitalize;
    visibility: hidden;    
    height: 0px;
    overflow: hidden;
}




#item_list_holder{

    border: 0px solid red;

    width:1060px;

    height: 200px;

    overflow-y : auto;

}



#item_list_tot_holder{

    border: 0px solid red;

    width:1060px;

    height: 50px;

    overflow-y : auto;l;    

}





.item_list_btn_holder{

    border: 0px solid red;

    width:1024px;

    margin-top: 20px;

}



.list-ur{

    cursor: pointer;

    font-size: 10px;        

}



.list-ur:hover{

    cursor: pointer;

    font-size: 10px;        

    text-decoration: underline;

}































.text_box_title_holder{

    margin-right: 10px;

    border:0px solid red;

    width: 85px;

    float: left;

    padding-top: 10px;

}







.input_text_regular{

    border:0px solid #eaeaea;

    padding: 0px;

    font-family: "Roboto";

    font-size: 22px;

    width: 390px;    

}







.btn_regular{    

    background-color: #eaeaea;

    border:1px solid #ccc;

    color: #000000;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_regular:hover{    

    background-color: #007e40;    

    color: #ffffff;    

}



.btn_regular_disable{    

    background-color: #eaeaea;

    border:1px solid #ccc;

    color: #ccc;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_login_regular_disable{    

    background-color: #f9f9f9;

    color: #cccccc;

    border: none;

    padding:8px;

    border: 1px solid #ccc;

    border-radius: 4px;

    width: 216px;    

}



.btn_regular_reset{    

    background-color: #007e40;

    border:1px solid #ccc;

    color: #ffffff;

    font-family: "Roboto";

    font-size: 14px;    

    padding: 5px;

    width: 80px;border-radius: 4px;

}



.btn_regular_reset:hover{    

    color:#ccc;

}



.currency{

    text-align: right;

}



.tbl_new_pawn td{

    border:0px solid #ccc;

}



.div_new_pawn_info_holder{

    border-bottom: 1px solid #ccc;    

    color: #000000;

    font-size: 13px;    

    background-color: #fcfcfc;

    padding-left: 10px;

    

}



.div_new_pawn_info_holder span{

    

    color: #000000;

    font-family: "Roboto";

    font-size: 17px;    



    

}



.cus_n_bltyp_holder{

    border: 1px solid #ccc;

    border-top: none;

    border-right: none;    

    width: 100%;

    background-color:#999;

    color: #ffffff;

}



.customer_name_view{    

    float:right;

    text-align:right;

    font-family: "Roboto";

    font-size: 22px;    

}



.cus_name_large{

    font-family: "Roboto";

    font-size: 22px;    

}



.ui-autocomplete {

    max-height: 250px;

    

    overflow-y: auto;       

    overflow-x: hidden;    

}



.ui-autocomplete li {

    

}





* html .ui-autocomplete {

    height: 250px;

    

}



.input_text_large{    

    border:2px solid #ffffff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

    text-align: right;

    padding: 5px;

    font-weight: bold;

    color: #333333;

}

.input_text_app_search{    

    border:2px solid #ffffff;    
    border-radius: 4px;
    font-family: "Roboto";    
    width: 125px;    
    
    color: #333333;
    border:2px solid Green;
    padding:4px;
    font-size: 20px;
    float:right;
    text-transform: uppercase;
    padding-right: 20px;

}



.input_text_large:focus{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

}



.input_text_large:hover{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

}



.input_text_large_s{    

    border:2px solid green;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 240px;

    font-size: 29px;

    text-align: right;

    font-weight: bold;

}



.input_text_large_readonly{    

    border:2px solid #ffffff;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 320px;

    font-size: 29px;

    text-align: right;

    padding: 5px;

    font-weight: bold;

    color: #333333;

}



.billType_det_holder{

    border:0px solid red;

    width:624px

}



.pp_pawn_det_holder{

    border-top:1px solid #ccc;

}



.title_div_pp{

    padding: 10px 10px 10px 0px;

    font-size: 13px;

    font-weight: bold;

}



.pawn_msg{

    border: 1px solid red;    

    padding: 10px;

    text-align: left;

    font-size: 14px;

    background-color: red;

    color: #fff;

    font-family: "Roboto";

    display: none;

}



#add_new_cus_front_pawn{    

    width:1060px;

    height:0px;

    overflow:hidden;

    border:0px solid red;

    background-color: #f9f9f9;

}



.input_div_holder{

    border:1px solid #cccccc;

    border-radius: 5px;

    margin-bottom: 10px;

}



.input_div_holder:hover{

    border:1px solid green;

    border-radius: 5px;

    margin-bottom: 10px;

}



.input_title_holder{

    border:0px solid blue;

    width:90px;

    float: left;

    font-size: 13px;

    padding: 7px;

}



.input_text_regular_pawn_front{

    border: none;

    border-left:1px solid #cccccc;

    width: 300px;

    font-size: 13px;

    padding: 5px;

    margin: 1px;

    padding-left: 10px;

}



.div_no_request{

    padding: 200px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: "roboto";
    font-size:70px;
    text-transform: capitalize;
    color: #999;
}



.dd{

    font-size: 37px;

    float: right;

}



.rpt_form{

    padding: 20px;

    font-size: 14px;

    font-family: "Roboto";

}



.opt_holder{

    border: 1px solid #eaeaea;

    padding: 4px;

    border-radius: 4px;

    margin-bottom: 5px;

    padding-bottom: 7px;

    padding-right: 10px;

}



.opt_holder:hover{

    border: 1px solid Green;

    background-color: Green;

    color: #ffffff;

}



.div_right_details{

    border:0px solid red; 

    width:auto; 

    margin-top:-44px; 

    position:absolute;

    font-size: 12px;

    padding: 0px;

    font-family: "Roboto";

}



.div_new_pawn_info_holder div{

    border:1px solid #eaeaea;

    margin-bottom: 10px;

    padding:10px; 

    border-radius: 5px;

    background-color: #ffffff;    

}



.div_new_pawn_info_holder_h3{

    color: #000000;

    margin-top: -16px;    

    margin-bottom: 15px;

    background-color: red;

    width: 75px;

    text-align: left; 

    font-size: 12px;   

    font-family: "Trebuchet MS";

}





.div_new_pawn_info_holder span{

    text-transform: capitalize;

    font-size: 13px;

    color: #000000;        

}



.slider_tab{          

     font-size: 14px;   

     font-family: "Trebuchet MS";

}



.slider_tab:hover{

     cursor: pointer;

     text-decoration: underline;

     font-size: 14px;   

     font-family: "Trebuchet MS";

}



.tbl_my_account{

    font-size: 12px;   

    font-family: "roboto";

}



.title_a{

    font-size: 18px;   

    font-family: "roboto";

}



.div_content_block{

    background-color: #f9f9f9;

    color: #000000;

    padding: 10px;

}



.input_text_regular_myaccount{    

    border:1px solid #cccccc;    

    border-radius: 4px;

    font-family: "Roboto";    

    width: 180px;    

    padding: 5px;    

    font-size: 12px;

}



.input_text_regular_myaccount:hover{    

    border:1px solid Green;        

}



.input_text_regular_myaccount:focus{    

    border:1px solid Green;        

}



.tbl_item_details td{

    font-size: 11px;

    border-bottom: 1px solid #ccc;

    border-right: 1px dotted #ccc;

    padding: 4px;

}

.bt_bc_list_holder{
    border:0px solid red;
}

.bc_list_holder{
    border: 0px solid red;
    overflow: auto;
    height: 100px;
}

.list_div_bc{
    border-bottom: 1px solid #ccc;
    padding: 7px;
}

.lbl_bcs{
    background-color: #f1f1f1;
    padding: 4px;
    margin: 4px;    
    border-radius: 5px;    
    /*float: left;
*/    padding-right: 10px;
}

.lbl_bcs:hover{
    background-color: Green;    
    color: #fff;
}

.request_type_bbl_red{    
    background-color: red;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;        
}

.request_type_bbl_green{    
    background-color: green;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;    
    
}

.request_type_bbl_gray{    
    background-color: #666666;
    color: #ffffff;
    padding: 3px;
    margin-top: -5px;
    border-radius: 3px;    
    
}

.icon_div{
    font-size:20px;
    position:absolute; 
    margin-left:-11px; 
    margin-top:-10px;
    color:#fff;
    border:0px solid #fff;
    padding: 5px;

}

.tblAdvList td{
    padding: 3px;
    border-bottom: 1px solid #ccc;
    width: 100px;
    font-size: 12px;
}

.tbl_bt td{
    font-size: 12px;
    border-bottom: 1px solid #eaeaea;
}

.btnAddaRow:hover{
    text-decoration: underline;
}

.cph_c{
    border:1px solid red;
    width: 80px;
    height: 80px;    
    text-align: center;
}

.cph_count{
    font-size: 34px;
}

.dashboard_sections_title{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.front_link{
    color: #000;    
    font-family:'Roboto';
    font-size:16px;
}

.front_link_div{
    width: 150px;
    padding: 6px;
    background-color: #f1f1f1;
}

.front_link_div:hover{
    cursor: pointer;
    width: 150px;
    padding: 6px;
    border-left: 2px solid Green;
    background-color: #f9f9f9;

}

.x{
    font-size: 25px;
    padding: 2px;
}

